<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mlnx.device_manager.mappers.TProducerMapper">
    <!--select id="selectPIN" resultType="Producer">
        select id,name from t_producer
    </select-->

    <select id="selectProducer" resultType="Producer">
        select *from t_producer
        <where>
            <if test="searchKey!=null and searchKey!=''">name like concat('%',#{searchKey},'%') or linkman like concat('%',#{searchKey},'%') or phone like concat('%',#{searchKey},'%')</if>
        </where>
        order by id desc
    </select>
</mapper>